#{set 'moreScripts'}
<!-- for Google map -->
<script type="text/javascript"
	src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="@{'/public/javascripts/gmap.js'}"></script>
<script type="text/javascript">
	/* 緯度経度初期値 */
	var latitude = 35.5;
	var longitude = 140;
	/* ポップアップ表示 */
	var marker = new Array(limit);
	var info = new Array(limit);

	var map;
	var contextMenu;

	/**
	 * 初期処理
	 */
	function initialize() {
		//マップ作成
		map = new google.maps.Map(document.getElementById("gmap"));
		map.setCenter(new google.maps.LatLng(latitude, longitude));
		map.setZoom(9);
		map.setMapTypeId(google.maps.MapTypeId.ROADMAP);

		//ポストボタン
		$("#post_button").click(function() {
			var fields = $("#post_post :input").serializeArray();

			$("#error").slideUp(function(){

				var errorFrag = false;
				if(fields[0]['value']==''){
					$("#error").html("メッセージが未入力です。<br />");
					errorFrag = true;
				}
				if(fields[1]['value']=='' || fields[2]['value']=='' ){
					$("#error").html("現在地が未設定です。<br />");
					errorFrag = true;
				}

				if(errorFrag){
					$("#error").slideDown();
					return;
				}

				$.getJSON("/userpage/post_ajax", fields, function(json) {
					if (json.status == 'success') {
						$("#message").val("");
						showRecentPosts();
					} else {
						$("#error").html("ポストに失敗しました。<br />おそらく未入力項目があります。");
						$("#error").slideDown();
					}
				});
			});

		});

		// 天気アイコン
		$(".weather_button").click(function() {
			var button = $(this);
			var fields = $("#post_post :input").serializeArray();
			fields[0].value = button.prev().html();
			fields[3] = new Object();
			fields[3].name = 'form.genre';
			fields[3].value = '1';

			$("#error").slideUp(function(){

				var errorFrag = false;
				if(fields[1]['value']=='' || fields[2]['value']=='' ){
					$("#error").html("現在地が未設定です。<br />");
					errorFrag = true;
				}

				if(errorFrag){
					$("#error").slideDown();
					return;
				}

				$.getJSON("/userpage/post_ajax", fields, function(json) {
					if (json.status == 'success') {
						showRecentPosts();
					} else {
						$("#error").html("ポストに失敗しました。<br />おそらく未入力項目があります。");
						$("#error").slideDown();
					}
				});
			});
		});

		/* ポストの表示 */
		google.maps.event.addDomListener(map, "load", showRecentPosts());

		contextMenu = new MapContextMenu(map);

		/* ３秒ごとにリロード処理 */
		$(document).everyTime(3000, 'reload', showRecentPosts);
	}
	google.maps.event.addDomListener(window, "load", initialize);

	$(function(){
		var changeForm = function(genre, li){
			$("#genre").val(genre);
			$("#category ul").children().attr("class", "");
			li.attr("class", "selected");
		};

		$("#event_li").click(function(){changeForm(2, $(this))});
		$("#review_li").click(function(){changeForm(3, $(this))});
		$("#other_li").click(function(){changeForm(0, $(this))});
	});
</script>
#{/set} #{extends 'Application/main.html' /}
<div id="wrap">
	#{header user:entry /}
	<div id="sidebar">
		<div id="category">
		<ul class="clearfix">
			<li id="event_li">イベント</li>
			<li id="review_li">レビュー</li>
			<li id="other_li" class="selected">その他</li>
		</ul>
		</div>
		<div class="error">
			<div class="display_none" id="error"></div>
		</div>

		<div id="post_post">
			<textarea name="form.message" rows="4" cols="35" id="message" wrap="soft"></textarea>
			<input type="hidden" name="form.gps_lat" id="gps_lat" size="25" value="" />
			<input type="hidden" name="form.gps_lng" id="gps_lng" size="25" value="" />
			<input type='hidden' name='form.genre' id='genre' value='0' />
			<p class="small">
				現在位置:<span id="gps_vis">未設定</span>
			</p>
			<p>
				<button id="start_gps">GPS測位</button>
				<button id="post_button" type="button">ポストする</button>
			</p>
		</div>
		<div id='weather'>
		<p>今いる場所の天気を共有しよう！</p>
			<div class="display_none">0</div><button class="weather_button" type="button"><img src='/public/images/genre/weather0.gif' /></button>
			<div class="display_none">1</div><button class="weather_button" type="button"><img src='/public/images/genre/weather1.gif' /></button>
			<div class="display_none">2</div><button class="weather_button" type="button"><img src='/public/images/genre/weather2.gif' /></button>
			<br />
			<div class="display_none">3</div><button class="weather_button" type="button"><img src='/public/images/genre/weather3.gif' /></button>
			<div class="display_none">4</div><button class="weather_button" type="button"><img src='/public/images/genre/weather4.gif' /></button>
			<div class="display_none">5</div><button class="weather_button" type="button"><img src='/public/images/genre/weather5.gif' /></button>
			<br />
			<div class="display_none">6</div><button class="weather_button" type="button"><img src='/public/images/genre/weather6.gif' /></button>
			<div class="display_none">7</div><button class="weather_button" type="button"><img src='/public/images/genre/weather7.gif' /></button>
			<div class="display_none">8</div><button class="weather_button" type="button"><img src='/public/images/genre/weather8.gif' /></button>
		</div>
	</div>
	<div id="content">
		<div id="gmap"></div>
	</div>
	<div id="footer"></div>
</div>