#{set 'moreScripts'}

<!-- /for Google map -->
<script type="text/javascript"
	src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="@{'/public/javascripts/gmap.js'}"></script>
<script type="text/javascript">
	/* 表示限度数 */
	var limit = 10000;
	/* 表示番号 */
	var i = 0;
	/* 緯度経度初期値 */
	var latitude = 35.5;
	var longitude = 140;
	/* ポップアップ表示 */
	var marker = new Array(limit);
	var info = new Array(limit);

	var map;

	/**
	 * 初期処理
	 */
	function initialize() {
		//マップ作成
		map = new google.maps.Map(document.getElementById("gmap"));
		map.setCenter(new google.maps.LatLng(latitude, longitude));
		map.setZoom(9);
		map.setMapTypeId(google.maps.MapTypeId.ROADMAP);
	}
	google.maps.event.addDomListener(window, "load", initialize);

	$(function(){
		var buttons = $(".show_post_button");
			buttons.click(function(){
				var button = $(this);
				if(button.prev().children(".visible").html()=='visible'){
					return;
				}
				button.prev().children(".visible").html('visible');
				var user = new Object();
				user.id = button.prev().children(".id").html();
				user.userid = button.prev().children(".userid").html();
				user.name = button.prev().children(".name").html();
				user.image = new Object();
				user.image.UUID = button.prev().children(".UUID").html();
				var post = new Object();
				post.gps_lat = button.prev().children(".gps_lat").html();
				post.gps_lng = button.prev().children(".gps_lng").html();
				post.message = button.prev().children(".message").html();
				post.genre = button.prev().children(".genre").html();
				post.created = button.prev().children(".created").html();
				addPost(post, user);
			});
	});
</script>
#{/set} #{extends 'Application/main.html' /}
<div id="wrap">
	#{header user:entry /}
	<div id="sidebar">
		<h1>検索</h1>
		<div id="user_sidebar">
			<h2>ユーザーポスト</h2>
			#{list items: infos, as: 'info'}
			<div class="user_post">
				<div class="clearfix">
					<div class="post_side">
						<a href="/user/?uid=${info.user.id}">
							%{
								if(info.user.image.UUID==null){
							}%
							<img src="/public/images/profile/default.jpg" class="profile" width="30px" height="30px" />
							%{
								} else {
							}%
							<img src="/attachments/${info.user.image.UUID}" class="profile" width="30px" height="30px" />
							%{
								}
							}%
						</a>
					</div>
					<div class="search_right">
						<div class="post_name">
							<a href="/user/?uid=${info.user.id}">${info.user.userid}</a> - ${info.user.name}
						</div>
						<div class="post_post">${info.post.message}</div>
						<div class="right">
							<span class="date">#{date time:info.post.created/}</span>
							<div class="display_none">
									<div class="visible"></div>
									<div class="id">${info.user.id}</div>
									<div class="userid">${info.user.userid}</div>
									<div class="name">${info.user.name}</div>
									<div class="UUID">${info.user.image.UUID}</div>
									<div class="gps_lat">${info.post.gps_lat}</div>
									<div class="gps_lng">${info.post.gps_lng}</div>
									<div class="message">${info.post.message}</div>
									<div class="genre">${info.post.genre}</div>
									<div class="created">${info.post.created}</div>
							</div>
							<button type="button" class="show_post_button">地図上に表示</button>
						</div>
					</div>
				</div>
			</div>
			#{/list}

		</div>
	</div>

	<div id="content">
		<div id="gmap"></div>
	</div>
	<div id="footer"></div>

</div>

