/* exp4main css */
body{
    background: none repeat scroll 0 0 #F0F0F0;
	font-family: "メイリオ","Meiryo","Helvetica",sans-serif;

}

* {
	word-wrap: break-word;
}
h1 {
	font-size: 25px;
	margin-top: 3px;
	margin-bottom: 10px;
}


p{
	margin: 3px;
}

img.profile{
	border:1px solid #A3A3A3;
}

div.pad {
	padding:5px;
}

.small {
	font-size : small;
}

.display_none {
	display : none;
}

#register_wrapper{
    margin: auto;
    width: 650px;
}

/* ヘッダー部分 */

#header{
	width: 100%;
	height: 60px;
	margin: auto;
	background: #85ADFF;
}

#item title{
	float: left;
}

#item li{
	float: left;
	width: 150px;
	list-style-type:none;
}

#logo{
	float: left;
	height: 50px;
	padding-left: 10px;
	padding-top: 5px;
}
#user_button{
	float: left;
	margin-left: 10%;
	padding-top: 15px;
}

#search{
	float: right;
	width: 50%;
	padding-top: 15px;
	text-align: right;
	margin-right: 10px;
}

#category li {
	margin-right: 2px;
	float: left;
	width: 100px;
	text-align: center;
	list-style-type:none;
	background-color: #ccc;
	cursor: pointer;
}
#category li.selected {
	background-color: #c02;
}
#category li:hover {
	background-color: #0c0;
}
#category li:hover.selected {
	background-color: #c02;
}

#category ul {
	padding: 0px;
	margin: 0px;
}
#sidebar {
	float: left;
	padding-top: 20px;
	width: 350px;
}
#user_sidebar{
	float: left;
	height: 500px;
	width: 340px;
	overflow-y: auto;
	overflow-x: hidden;
}

#content {
	margin-left: 350px;
	padding-top: 20px;
	min-width: 650px;
}

#full_content {
	padding-top: 20px;
	min-width: 1000px;
}

#footer {
	clear: both;
}

#wrap {
	min-width: 1000px;
}

/* Custom Class */
.button {
	text-decoration: none;
	white-space: nowrap;
	font-size: 14px;
	line-height: 30px;
	color: #000000;
	margin: 1px;
	background-color: #f2f2f2;
	border: #333333 2px outset;
	padding: 4px 5px 3px 5px;
}
.button:visited {
	color: #000000;
}
.button:hover {
	font-size: 14px;
	line-height: 30px;
	color: #000000;
	border: #555555 2px inset;
	text-decoration: none;
	cursor: pointer;
}
.button:hover {
	background-color: #cfcfcf;
	padding: 4px 5px 3px 5px;
}

.center{
	margin-left:auto;
	margin-right:auto;
	text-align:center
}

.right{
	margin-left:auto;
	margin-right:auto;
	text-align:right;
}

.font_large{
	font-size: x-large;
}

.user{
	background-color: #C2E0FF;
	padding: 10px;
	border: 1px solid #A3A3A3;
	margin:10px;
}

.user_post{
	background-color: white;
	padding: 10px;
	margin: 10px;
	border: 1px solid black;
}

/* 天気アイコン */
#weather_button img{
	width: 50px;
	height: 61px;
}

#weather {
	border: 1px solid #BBB;
	background-color: #87CEEB;
	text-align:center;
	margin: 10px;
	margin-right:20px;
	padding: 5px;
}




/* clearfix */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix { display: inline-table; }

/* GoogleMapsAPI */
#gmap{
	height: 500px;
	border: 1px solid #A3A3A3;
}

.error{
	color: red;
}

.post_side {
	float:left;
	width: 40px;
}
.post_main {
	float:left;
	width: 160px;
}

.post_name {
	font-size: small;
}

.post_date {
	font-size: x-small;
}

.date {
	font-size: small;
}

.search_right {
	margin-left: 40px;
	width: 240px;
}