<div id="header">
	<div id="logo">
		<a href="/userpage/"><img src="/public/images/logo2.png" height="50px"></a>
	</div>
	<div id="user_button">
		%{
			if(_user == null){
		}%
		%{
			} else {
		}%
		<a href="/user/?uid=${_user.id}">${_user.name}</a>[<a href="/logout">ログアウト</a>]
		%{
			}
		}%
	</div>
	<div id="search">
		<form name="search" method="post" action="@{Userpage.search}">
			<input type="text" value="" size="40" name="keyword" />
			<input type="submit" value="検索" />
		</form>
	</div>
</div>