#{set 'moreScripts'}
<!-- /for Google map -->
<script type="text/javascript"
	src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="@{'/public/javascripts/gmap.js'}"></script>
<script type="text/javascript">
	/* 緯度経度初期値 */
	var latitude = 35.5;
	var longitude = 140;
	/* ポップアップ表示 */
	var marker = new Array(limit);
	var info = new Array(limit);

	var map;

	/**
	 * 初期処理
	 */
	function initialize() {
		//マップ作成
		map = new google.maps.Map(document.getElementById("gmap"));
		map.setCenter(new google.maps.LatLng(latitude, longitude));
		map.setZoom(9);
		map.setMapTypeId(google.maps.MapTypeId.ROADMAP);

		//ポストボタン
		$("#post_button").click(function() {
			var fields = $("#post_post :input").serializeArray();
			$.getJSON("/userpage/post_ajax", fields, function(ret) {
				showRecentPosts();
			});
		});
		/* ポストの表示 */
		google.maps.event.addDomListener(map, "load", showRecentPosts());
	}
	google.maps.event.addDomListener(window, "load", initialize);

	$(function(){
		var user = new Object();
		user.image = new Object();
		user.image.UUID = $("#user_info").children().html();
		user.userid = $("#user_info").children().next().html();
		user.name = $("#user_info").children().next().next().html();
		user.id = $("#user_info").children().next().next().next().html();
		var buttons = $(".show_post_button");
			buttons.click(function(){
				var button = $(this);
				if(button.parent().prev().prev().prev().prev().html()=='visible'){
					return;
				}
				button.parent().prev().prev().prev().prev().html('visible');
				var post = new Object();
				post.genre = button.parent().prev().prev().prev().prev().prev().html();
				post.message = button.parent().prev().prev().prev().html();
				post.gps_lat = button.parent().prev().prev().html();
				post.gps_lng = button.parent().prev().html();
				post.created = button.prev().html();
				addPost(post, user);
			});
	});
</script>
#{/set} #{extends 'Application/main.html' /}
<div id="wrap">
	#{header user:entry /}
	<div id="sidebar">
		<div id="user_info" class="display_none">
		<div>${user.image.UUID}</div>
		<div>${user.userid}</div>
		<div>${user.name}</div>
		<div>${user.id}</div>
		</div>
			<div id="user_sidebar">
			<div class="user">
				<div class="center">
					%{
					if(user.image.UUID == null){
					}%
						<img src="@{'/public/images/profile/default.jpg'}">
					%{
						} else {
					}%
			 			<a href="/img/?name=${user.image.file.name}"><img src="/attachments/${user.image.file.name}" width="250" /></a>
					%{
						}
					}%
				</div>
				<table class="center">
					<tr>
						<td class="font_large">${user.userid}</td>
					</tr>
					<tr>
						<td>${user.name}</td>
					</tr>
					<tr>
						<td>自己紹介</td>
					</tr>
					<tr>
						<td>${user.profile}</td>
					</tr>
				</table>
				%{ if(user.userid == entry.userid){ }%
				<div class="right">
					<a href="/profile/"><button type="button">編集</button></a>
				</div>
				%{ } }%

			</div>
			#{list items: myposts, as: 'mypost'}
			<div class="user_post">
				<div class="display_none">${mypost.genre}</div>
				<div class="display_none"></div>
				<div class="message">
				${mypost.message}
				</div>
				<div class="display_none">${mypost.gps_lat}</div>
				<div class="display_none">${mypost.gps_lng}</div>
				<div class="right"><span class="date">#{date time:mypost.created/}</span> <div class="display_none">${mypost.created}</div><button type="button"  class="show_post_button">地図上に表示</button></div>
			</div>
			#{/list}

		</div>
	</div>

	<div id="content">
		<div id="gmap"></div>
	</div>
	<div id="footer"></div>

</div>

