#{set 'moreScripts'}
<script type="text/javascript">
	$(document).ready(function(){
		$("#id_check_button").click(function(){
			var value = $("#form_id").val();
			if(value===""){
				$("#id_status").html('IDを入力してください。');
				return;
			}
			$.getJSON("@{register_json()}", {"id":value}, function(json){
				if(json.id==="true"){
					$("#id_status").html('このIDは既に登録されています。');
				}else {
					$("#id_status").html('このIDは使用可能です。');
				}
			});
		});
	});
</script>
#{/set}
#{extends 'Application/main.html' /}
<div id="register_wrapper">
<h3 style="padding-left:200px;">登録画面</h3>
<div>
<form action="@{post()}" method="post" name="form">
<table>
	<tr>
		<td>ID</td>
		<td><input type="text" name="form.id" size="30" id="form_id" value="" /></td>
		<td class="error">#{error 'form.id' /}</td>
	</tr>
	<tr>
		<td><input type="button" value="重複チェック" id="id_check_button"></td>
		<td><span id="id_status"></span></td>
	</tr>
  	<tr>
  		<td>パスワード</td>
  		<td><input type="password" name="form.password" size="30" value="" /></td>
  		<td class="error">#{error 'form.password' /}</td>
  	</tr>
  	<tr>
  		<td>パスワード確認</td>
  		<td><input type="password" name="form.passwordConfirmation" size="30" value="" /></td>
  		<td class="error">#{error 'form.passwordConfirmation' /}</td>
  	</tr>
  	<tr>
  		<td>
  			<p><input type="submit" value="登録する" /></p>
		</td>
	</tr>
</table>
</form>

<p><a href="@{Application.index()}">TOPへ戻る</a></p>

</div>
</div>