#{set 'moreScripts'}
<!-- /for Google map -->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="@{'/public/javascripts/gmap.js'}"></script>
<script type="text/javascript">

	/* 緯度経度初期値 */
	var latitude = 35.5;
	var longitude = 140;
	/* ポップアップ表示 */
	var marker = new Array(limit);
	var info = new Array(limit);

	var map;

	/**
	 * 初期処理
	 */
	function initialize(){
		//マップ作成
		map = new google.maps.Map(document.getElementById("gmap"));
		map.setCenter(new google.maps.LatLng(latitude, longitude));
		map.setZoom(9);
		map.setMapTypeId(google.maps.MapTypeId.ROADMAP);

		//ポストボタン
		$("#post_button").click(function(){
			var fields = $("#post_post :input").serializeArray();
			$.getJSON("/userpage/post_ajax", fields, function(ret){
				showRecentPosts();
			});
		});
		/* ポストの表示 */
		google.maps.event.addDomListener(map, "load", showRecentPosts());
	}
	google.maps.event.addDomListener(window, "load", initialize);
	</script>
#{/set}
#{extends 'Application/main.html' /}
<div id="wrap">
#{header /}
<div id="sidebar">

	<form action="@{login()}" method="post" name="form" onSubmit="return checkForm()">
	<table style="margin-left:auto;margin-right:auto;">
	<tr>
		<td><label for="id">ID</label></td>
		<td><input type="text" name="form.id" size="30" value="${form.id}" />
  	<span class="error">#{error 'form.id' /}</span></td>
  	</tr>
  	<tr>
  		<td><label for="password">password</label></td>
  		<td><input type="password" name="form.password" size="30" value="" />
  	<span class="error">#{error 'form.password' /}</span></td>
  	</tr>
  	<tr>
  		<td style="text-align: center;">
  			<p><input type="submit" value="ログイン"/></p>
		</td>
		<td><a href="@{Register.index()}">サインアップ</a></td>
	</tr>
</table>
</form>
</div>
<div id="content">
<div id="gmap"></div>
</div>
<div id="footer">
</div>
</div>
