#{extends 'Application/main.html' /}

<div id="wrap">
#{header user:entry /}
<div id="full_content">
<h1>プロフィール編集</h1>
<form action="@{Profile.post()}" method="post" enctype="multipart/form-data" name="profile">


	<table id="profile">
		<tr>
			<td rowspan="5">
			<div class="pad">
			%{
				if(user.image.UUID == null){
			}%
			<img src="@{'/public/images/profile/default.jpg'}">
			%{
				} else {
			}%
			<img src="/attachments/${user.image.UUID}" width="300" />
			%{
				}
			}%
			<div>
			画像 : <input type="file" name="form.image" value="" />
			</div>
			</div>
			</td>
			<td>名前</td><td><input type="text" name="form.name" size="30" value="${user.name}" /><span class="error">#{error 'form.name' /}</span></td>
		</tr>
		<tr>
			<td colspan="2">パスワードは変更したい場合のみ入力してください</td>
		</tr>
		<tr>
			<td>パスワード</td><td><input type="password" name="form.password" size="30" value="" /><span class="error">#{error 'form.password' /}</span></td>
		</tr>
		<tr>
			<td>パスワード確認</td><td><input type="password" name="form.passwordConfirmation" size="30" value="" /><span class="error">#{error 'form.passwordConfirmation' /}</span></td>
		</tr>
		<tr>
			<td>自己紹介</td><td><textarea  rows="4" cols="30" name="form.profile" >${user.profile}</textarea><p class="error">#{error 'form.profile' /}</p></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><input type="submit" value="変更"/></td>
	</table>
	</form>
</div>
</div>

